[data-footer-main]{
    display: flex;
    justify-content: center;
    width: 30vw;
    align-items: center;
    flex-flow: column;
}
[data-footer]{
    display: flex;
    justify-content: center;
    height: 85vh;
    align-items: center;
    background-color: #011526;
}