[data-home-content] {
    display: flex;
    flex-flow: column;
    justify-content: center;

}

[data-home-greetings] {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 10;
}

[data-background-logo] {
    position: relative;
    z-index: 2;
    filter: opacity(30%) grayscale(1);

}

[data-background-name] {
    position: absolute;
    z-index: 5;
}

[data-home-tag-line] {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 10vh;
    line-height:9vh;
    height: max-content;
}
[data-home-tag-line-thin]{
    font-weight: 100;
}
[data-home-tag-line-thick]{
    font-weight: 400;
}
[data-best-card]{
    background-color: whitesmoke;
}
[data-best-card-tag]{
    background-color: black;
    color: white;
    border-radius: 2px;
}
[data-tag-title]{
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 9vh;
}
[data-card-provider]{
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 30vh;
    line-height: 35vh;
}
[data-card-provider-small]{
    font-optical-sizing: auto;
    font-style: bold;
    font-weight: 300;
    font-size: 15vh;
}
[data-best-card-service]{
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
    margin: 0 10vh;
}
[data-explore-circle]{

}